<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group" [class.has-error]="!nome.valid && nome.touched" [class.has-feedback]="!nome.valid && nome.touched">
    <label for="nome" class="control-label">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" [(ngModel)]="usuario.nome" required #nome="ngModel">
    <div class="alert alert-danger" *ngIf="!nome.valid && nome.touched">Nome é obrigatório</div>
  </div>
  <div class="form-group" [class.has-error]="!email.valid && email.touched" [class.has-feedback]="!email.valid && email.touched">
    <label for="email" class="control-label">E-mail</label>
    <input type="email" class="form-control" id="email" placeholder="abc@xyz.www" name="email" [(ngModel)]="usuario.email" required
      email #email="ngModel">
    <div class="alert alert-danger" *ngIf="!email.valid && email.touched">E-mail inválido</div>
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>