<h2>Exemplos de Pipes</h2>

<p>Título: {{ livro.titulo| uppercase | lowercase | camelCase }}</p>
<p>Estrelas: {{ livro.avaliacao | number:'1.0-1' }}</p>
<p>Paginas: {{ livro.paginas }}</p>
<p>Preço: {{ livro.preco | currency:'BRL' }}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json }}</p>

<input type="text" [(ngModel)]="filtro">
<br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Adiciona Curso</button>



<ul>
    <li *ngFor="let livro of livros | filtroArray:filtro">
        {{ livro }}
    </li>
</ul>