<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Navbar</a>
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" [class.active]="aba == 'home'">
				<a class="nav-link" href="#" (click)="aba = 'home'">Home</a>
			</li>
			<li class="nav-item" [class.active]="aba == 'mapa'">
				<a class="nav-link" href="#" (click)="aba = 'mapa'">Mapa</a>
			</li>
			<li class="nav-item" [class.active]="aba == 'lista'">
				<a class="nav-link" href="#" (click)="aba = 'lista'">Lista</a>
			</li>
		</ul>
	</div>
</nav>

<hr>
<div class="container" [ngSwitch]="aba">
	<div *ngSwitchCase="'home'">Conteudo da Home</div>
	<div *ngSwitchCase="'mapa'">Mostra Mapa</div>
	<div *ngSwitchCase="'lista'">Listando...</div>
	<div *ngSwitchDefault>Default</div>
</div>